mat-sidenav{
    width: 300px;
}
mat-sidenav-container.myapp-dark-theme{
background-color: black;
}



.square{
    width: 100px;
    height: 100px;
    background-color:black;
    align-items: center;
}