<mat-list-item class="container" 
    [@item]="widerPriority"
    [ngClass]="{
        'priority-normal':item.priority===3,
        'priority-important':item.priority===2,
        'priority-emergency':item.priority===1
    }" 
    [app-draggable]="true"
    [draggedClass]="'drag-start'"
    (click)="onItemClick()">
    <mat-checkbox [checked]="item.completed" class="status" (click)="onCheckBoxClick($event)"></mat-checkbox>
    <div class="content" mat-line [ngClass]="{'completed': item.completed}">
        <span [matTooltip]="item.desc">{{item.desc}}</span>
    </div>
    <div class="bottom-bar" mat-line>
        <span class="duedate" *ngIf="item.dueDate">
            {{item.dueDate | date: "yy-MM-dd"}}
        </span>
        <mat-icon *ngIf="item.reminder" class="alarm">alarm</mat-icon>
    </div>
    <mat-icon [svgIcon]="avatar" class="avatar" md-list-avatar></mat-icon>
</mat-list-item>